# Django
SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_SETTINGS_MODULE=config.settings.dev

# PostgreSQL
DB_NAME=budgetfamilial
DB_USER=budget
DB_PASSWORD=budget
DB_HOST=db
DB_PORT=5432

# FrontEnd
VITE_API_BASE_URL=http://localhost:8000/api/v1